*{
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
}

header{
    padding: 1%;
    text-align: center;
    background-color: #99c6;
}

section{
    padding: 1%;
    text-align: center;
    background-color: #c996;
}

section ul, li:nth-of-type(odd){
    background-color: #cf999936;
}

section ul, li:nth-of-type(even){
    background-color: #cf999999;
}

footer{
    padding: 1%;
    text-align: center;
    background-color: #9c96;
}